/* assets/css/smooth-scroll.css */
html, body {
  scroll-behavior: smooth;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

/* Optional: Hide scrollbar while maintaining scroll functionality */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}